p{
    background-color: aqua;
}
a{
    background-color: rgb(231, 241, 239);
}
div{
    background-color: azure;
}
span{
    background-color: brown;
}
.background{
    /* Select the class using a dot (.) */
    width: 100%;
    height: 100px;
    background-image: url('img.svg');
    background-repeat: no-repeat;
    
}
